.container {
    width: 100%;
    height: 100%;
    background-color: var(--neutral-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--secondary-color);
}


.subgroup {
    width: 100%;
    height: 20%;
    // background-color: var(--neutral-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sub-container {
    width: 100%;
    height: 100%;
    // background-color: var(--neutral-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input,
select {
    margin-bottom: 10px;
    width: 200px;
    cursor: pointer;
}

input:disabled{
    cursor: not-allowed;
}

button {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-weight: bolder;
}
hr{
    width: 90%;
}