@import "bootstrap/scss/bootstrap";
:root {
    --primary-color: #332b4f;
    --secondary-color: #f1eff8;
    --neutral-color: #332b4f;
    --primary-font:  'Roboto', sans-serif;
    --normal-font-size: 16px;
    --header-font-size: 20px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--primary-font);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-size: var(--normal-font-size);
}

div {
    box-sizing: border-box;
}


